body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #f857a6, #ff5858);
}
.slider {
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}
.slider-images {
  width: 500%;
  height: 400px;
  display: flex;
}
.slider-images input {
  display: none;
}
.image {
  width: 20%;
  transition: 2s;
  border-radius: 10px;
}
.image img {
  width: 800px;
  height: 400px;
  border-radius: 10px;
}

/* for manual slide */
.nav-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #f857a6;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #f857a6;
}
#btn1:checked ~ .first {
  margin-left: 0;
}
#btn2:checked ~ .first {
  margin-left: -20%;
}
#btn3:checked ~ .first {
  margin-left: -40%;
}

/* auto navigation */
.nav-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 360px;
}
.nav-auto div {
  border: 2px solid #f857a6;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.nav-auto div:not(:last-child) {
  margin-right: 40px;
}

#btn1:checked ~ .nav-auto .auto-btn1 {
  background: #f857a6;
}
#btn2:checked ~ .nav-auto .auto-btn2 {
  background: #f857a6;
}
#btn3:checked ~ .nav-auto .auto-btn3 {
  background: #f857a6;
}
